body {
    background: #DCDCDC;
}
.main > section > h2 {
    font-weight: bold;
    text-align: center;
    margin: 25px;
}
.main section h4 {
    color: #696969;
    text-align: left;
    margin: 0 0 0 10px;
    padding: 5px;
}
header {
    text-align: center;
    display: table;
box-sizing: border-box;
height: 60px;
line-height: 24px;
margin-bottom: 10px;
margin-left: 9px;
margin-right: 9px;
margin-top: 40px;
max-width: 1220px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 20px;
padding-top: 0px;
width: 1220px;
}

li {
    margin: 5 0 0 0;
    padding: 0 0 0 10px;
}

#photo {
    margin: 0px 50px 20px 50px;
    border: 5px solid white;
}

section {
    padding: 5px
}

}
h1 {
    text-align: center;
}
.container {
display: table;
box-sizing: border-box;
font-size: 16px;
height: 2000px;
line-height: 24px;
margin-bottom: 40px;
margin-left: 9px;
margin-right: 9px;
margin-top: 0px;
max-width: 1220px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 20px;
padding-top: 0px;
width: 1220px;
}
.content-wrapper {
box-sizing: border-box;
display: flex;
font-size: 16px;
height: 2000px;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 1180px;
}
.content {
    display: table-cell;
background-color: rgb(255, 255, 255);
background-image: none;
box-sizing: border-box;
font-size: 16px;
height: 2000px;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 30px;
padding-left: 70px;
padding-right: 40px;
padding-top: 30px;
width: 720px;
}
.primary {
display: table-cell;
box-sizing: border-box;
font-size: 16px;
height: 2000px;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 40px;
padding-right: 0px;
padding-top: 0px;
width: 320px;
}

.primary > div {
    position: sticky;
    top: 20px; 
}

#photo {
    height: 400px;
    width: 300px;
}