#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #DCDCDC;
    z-index: 30;}
     
    .contpre small{font-size:25px;}
     
    .contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:rgb(0, 0, 0);
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}
     
    #p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(media/tail-spin.svg) center center no-repeat;
    background-size:41px;    
    margin: -16px 0 0 -16px;}






header {
height: 60px;
line-height: 24px;
margin-bottom: 20px;
margin-top: 15px;
padding-left: 20px;
}

header.block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 0px;
}

.dropbtn {
    position: relative;
    padding: 4px 13px;
    width: 30;
    height: 30px;
    padding: 4px 13px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    box-shadow: -3px -1px 10px 0px rgba(0, 0, 0, 0.3);
}

.dropbtn:hover {
    background-color:rgba(0, 150, 0, .2);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 5px;
    user-select: none;
    box-shadow: -10px -4px 15px 3px rgba(0, 0, 0, .5);
}

.dropdown-content span {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn {
    font-size: large;
    padding: 4px 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    background-color:rgba(0, 150, 0, .2);
}

.btn:active {
    background-color:rgba(0, 200, 0, .5);
}

div.name {
    display: inline-block;
    margin-left: 20%;

}

li {
    margin: 5 0 0 0;
    padding: 0 0 0 10px;
}

#photo {
    margin-left: 25px;
    height: 300px;
    width: 230px;
    border-radius: 10px;
    box-shadow: -5px -3px 10px 0px rgba(0, 0, 0, 0.3);
}


section {
    padding: 5px
}

.container {
display: table;
box-sizing: border-box;
font-size: 16px;
height: 2000px;
line-height: 24px;
margin-bottom: 40px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
max-width: 1220px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 20px;
padding-top: 0px;
width: 1220px;
}
.content-wrapper {
box-sizing: border-box;
display: flex;
font-size: 16px;
height: 2000px;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 1180px;
}

.content {
display: table-cell;
background-image: none;
box-sizing: border-box;
font-size: 16px;
height: 2000px;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 30px;
padding-left: 70px;
padding-right: 40px;
padding-top: 30px;
width: 720px;
border-radius: 10px;
box-shadow: -7px -5px 10px 0px rgba(0, 0, 0, 0.3);
}

.primary {
display: table-cell;
box-sizing: border-box;
font-size: 14px;
height: 2000px;
line-height: 10px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 40px;
padding-right: 0px;
padding-top: 0px;
width: 320px;
}
.primary > div > h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}
.primary > div {
    position: sticky;
    top: 20px; 
}
.size-vk {
    margin: 10px;
    width: 45px;
    height: 29px;
    position: absolute
}
.link-vk {
    text-decoration: none;
    margin: 0px 0px 0px 32px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: 0.4s;
}
.link-vk:hover {
    background: #0F69F6;
    opacity: 0.4s;
}
.size-in {
    margin: 10px;
    width: 45px;
    height: 45px;
    position: absolute
}
.link-in {
    text-decoration: none;
    margin: -61px 108px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: 0.4s;
}
.link-in:hover {
    background: -webkit-linear-gradient(bottom left, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    opacity: 0,4s;
}
.size-hh {
    margin: 10px;
    width: 45px;
    height: 45px;
    position: absolute
}
.link-hh {
    text-decoration: none;
    margin: -6px 189px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: 0.4s;
}
.link-hh:hover {
    background: #d7001d;
    opacity: 0.4s;
}

.icon {
    box-shadow: -3px -1px 10px 0px rgba(0, 0, 0, 0.3);
}









